{% load static %}
{% include 'base.html' %}
{% include 'navigation.html' %}
{% block body %}
{% if  error == "no" %}
    <script>
        alert('Record saved successfully');
        window.location = ("{% url 'view_appointment' %}");
    </script>
{% endif %}

{% if error == "yes" %}
    <script>
        alert('Something went wrong try again');
    </script>

{% endif %}


<div class="container">
    <h2 class="text-center">Add Appointment</h2>
    <form method="POST">
        {% csrf_token %}
        <label>Doctor Name</label>
        <select  class="form-control" name="doctor" >
            {% for i in doctor %}
            <option value="{{i.Name}}">{{i.Name}}</option>
            {% endfor %}
        </select>
        <label>Patient Name</label>
        <select  class="form-control" name="patient" >
            {% for i in patient %}
            <option value="{{i.name}}">{{i.name}}</option>
            {% endfor %}
        </select>
        <label>Date</label>
        <input type="date" class="form-control" name="date" />
        <label>Time</label>
        <input type="time" class="form-control" name="time" />

        <input type="submit" value="submit" class="form-control btn btn-primary" />

    </form>

</div>

{% endblock  %}
{% include 'footer.html' %}