{% load static %}
{% include 'base.html' %}
{% include 'navigation.html' %}

{% block body %}

{% if  error == "no" %}
    <script>
        alert('Record saved successfully');
        window.location = ("{% url 'view_patient' %}");
    </script>
{% endif %}

{% if error == "yes" %}
    <script>
        alert('invalid login try again');
    </script>

{% endif %}


<div class="container">
    <h2 class="text-center">Add Patient</h2>
    <form method="POST">
        {% csrf_token %}
        <label>Patient Name</label>
        <input type="text" class="form-control" name="name" />
        <label>Gender</label>
        <input type="text" class="form-control" name="gender" />
        <label>Mobile</label>
        <input type="number" class="form-control" name="mobile" />
        <label>Address</label>
        <input type="text" class="form-control" name="address" />

        <input type="submit" value="submit" class="form-control btn btn-primary" />

    </form>

</div>

{% endblock  %}
{% include 'footer.html' %}