{% include 'base.html' %}
{% include 'navigation.html' %}

<style>
    .mydivstyle:hover {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0.3);
        transform: translateY(-20px);
    }

</style>

{% block content %}
<div class="container" style="margin-top: 50px;">
    <h1 class="text-center" style="margin-bottom: 50px;">Contact Us</h1>
    <div class="row at-5 text-center">
        <div class="col-lg-3 col-sm-6 mydivstyle">
            <h4><i class="fas fa-phone-square"></i> Contact</h4>
            <p class="text-danger font-weight-bold mt-3"><a href="tel:+919876543210">+919876543210</a></p>
        </div>
        <div class="col-lg-3 col-sm-6 mydivstyle">
            <h4><i class="fa fa-envelope"></i> Send-email</h4>
            <p class="font-weight-bold mt-3"><a href="mailto: abc@gmail.com">abc@gmail.com</a></p>
        </div>
        <div class="col-lg-3 col-sm-6 mydivstyle">
            <h4><i class="fa fa-address-card"></i> Office Address</h4>
            <p class="font-weight-bold mt-3"><a href="http://maps.google.com/maps?q-bengaluru">Bengaluru,Karnataka</a></p>
        </div>
        <div class="col-lg-3 col-sm-6 mydivstyle">
            <h4><i class="fa fa-clock"></i> Office Time</h4>
            <p class="font-weight-bold mt-3">10AM to 5PM</p>
        </div>
    </div>
</div>

{% endblock content %}
{% include 'footer.html' %}